/* Mobile screen size */
@media (max-width: 992px) {
  .card {
    width: 10rem;
  }

  .carousel-section {
    display: flex;
  }

  .carousel-items {
    margin-top: 30%;
  }

  .carousel {
    height: 300px;
  }

  .offcanvas {
    width: 90%;
  }

  .nav-image {
    width: 90px;
    border-radius: 50%;
  }

  .nav-cart-toggle {
    margin-right: 10%;
    opacity: 0.7;
  }

  .shopping-cart {
    margin-right: 5px;
  }

  .home-link {
    color: #6b011f;
  }

  .logo-outline {
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 5%;
    border-radius: 50%;
    margin-left: 60%;
    background-color: #171717;
    box-shadow: -8px -10px 15px rgb(255, 255, 255, 0.1),
      15px 15px 15px rgb(0, 0, 0, 0.4),
      inset -1px -5px 5px rgb(255, 255, 255, 0.1),
      inset 5px 5px 5px rgb(0, 0, 0, 0.1);
  }

  .logo {
    width: 70px;
    margin-left: 5%;
  }

  .item-page-outline {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background-color: #171717;
    margin-top: 40%;
    /* box-shadow: inset -5px -5px 5px rgb(0, 0, 0, 0.2),
      inset 5px 5px 5px rgb(0, 0, 0, 0.2); */
  }

  .item-row {
    text-align: center;
  }

  .item-image {
    width: 80%;
    margin-top: 20px;
  }

  .wrapper {
    height: 25px;
    width: 80px;
    display: flex;
    margin-left: 38%;
    background-color: #121212;
    color: #6b011f;
  }

  .wrapper span {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }

  .wrapper span.num {
    font-size: 15px;
    border-right: solid 1px black;
    border-left: solid 1px black;
  }

  .collar-title {
    font-size: 30px;
    font-family: "Amatic SC", cursive;
  }

  .price-title {
    font-size: 15px;
    font-family: "Kosugi Maru", sans-serif;
  }

  .shipping-title {
    font-size: 10px;
  }

  .size-title {
    font-size: 15px;
    font-family: "Kosugi Maru", sans-serif;
  }

  .quantity-title {
    font-size: 15px;
    font-family: "Kosugi Maru", sans-serif;
  }

  .product-background {
    background-color: #171717;
    /* min-height: 120vh; */
    background-image: url(https://www.transparenttextures.com/patterns/black-paper.png);
  }

  .mission-container {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .missionDesBackground {
    background-color: #171717;
    height: 100%;
    padding: 20px 20px;
    color: wheat;
    border-radius: 20px;
  }

  .mission-image1 {
    margin: auto auto;
    width: 100%;
    border-radius: 20px;
  }

  .mission-image2 {
    width: 70%;
    border-radius: 20px;
  }

  .missionDesMaroon {
    background-color: #6a0000;
    text-align: center;
    color: wheat;
    font-size: small;
    height: 100%;
    padding: 30px 30px;
    border-radius: 20px;
  }

  .productDescriptionSection-img {
    margin: auto auto;
    width: 60%;
    border-radius: 20px;
    margin-left: 20px;
  }

  .productDescriptionSection2 {
    background-color: #171717;
    text-align: center;
    font-size: small;
    width: 300px;
    padding: 20px 20px;
    color: wheat;
    margin-left: 17%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
  }

  .subscription {
    text-align: center;
    width: 90%;
    height: 100%;
    padding: 20px;
    background-color: #171717;
    margin: 10% auto;
    display: flex;
    border-radius: 30px;
    box-shadow: -8px -10px 15px rgb(255, 255, 255, 0),
      15px 15px 15px rgb(0, 0, 0, 0.1),
      inset -1px -5px 5px rgb(255, 255, 255, 0.1),
      inset 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  }

  .sub-text {
    font-size: 10px;
  }

  .footer {
    background-color: #171717;
    height: 100%;
    margin-top: auto;
  }

  .flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-content {
    text-align: center;
    font-size: 15px;
    color: #6b011f;
    opacity: 0.8;
    margin-bottom: 25px;
    display: inline-block;
    margin-left: 30%;
  }

  .social-media {
    display: flex;
    color: white;
    margin-left: 80%;
    margin-bottom: 1%;
  }

  .footer-policies {
    margin-left: 1%;
    color: white;
    font-size: 10px;
    display: inline-block;
    margin-top: 10%;
  }
}

/* Desktop Screen Size  */
@media (min-width: 1860px) {
  .carousel-section {
    display: flex;
  }

  .carousel-items {
    margin-top: 8%;
  }

  .carousel {
    height: 1000px;
    width: 100%;
  }

  .mission-container {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .missionDesBackground {
    background-color: #171717;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 20px 20px;
  }

  .mission-image1 {
    margin: auto 10%;
    width: 80%;
    padding: 20px 20px;
    border-radius: 40px;
  }

  .mission-image2 {
    margin: auto 10%;
    width: 60%;
    border-radius: 20px;
  }

  .missionDesMaroon {
    background-color: #6a0000;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 30px 30px;
    color: wheat;
    border-radius: 30px;
  }

  .logo-outline {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 60%;
    background-color: #171717;
    box-shadow: -8px -10px 15px rgb(255, 255, 255, 0.1),
      15px 15px 15px rgb(0, 0, 0, 0.3),
      inset -1px -5px 5px rgb(255, 255, 255, 0.1),
      inset 5px 5px 5px rgb(0, 0, 0, 0.3);
  }

  .shopping-cart {
    margin-left: 800px;
  }

  .nav-cart-toggle {
    margin-left: 10%;
    opacity: 0.7;
  }

  .nav-image {
    width: 150px;
    margin-left: 50%;
    border-radius: 50%;
  }

  .logo {
    width: 140px;
    margin-left: 3%;
  }

  .home-link {
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgb(0, 0, 0, 0.5);
    color: #6b011f;
    padding: 8px 8px;
    margin: auto auto;
    opacity: 0.8;
  }

  .item-page-outline {
    width: 100%;
    height: 100%;
    margin-top: 20%;
    background-color: #171717;
    border-radius: 20px;
    background-image: url("https://www.transparenttextures.com/patterns/dark-tire.png");
    box-shadow: -8px -10px 15px rgb(255, 255, 255, 0),
      15px 15px 15px rgb(0, 0, 0, 0.1), inset -5px -5px 5px rgb(0, 0, 0, 0.4),
      inset 5px 5px 5px rgb(0, 0, 0, 0.4);
  }
  .item-page-border-right {
    border-right: solid 10px #121212;
  }

  .item-image {
    width: 80%;
    margin-top: 23%;
    margin-left: 8%;
    box-shadow: -1px 0px 25px rgb(0, 0, 0, 0.8);
  }

  .wrapper {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    border-radius: 12px;
    box-shadow: 0 5px 5px black;
    color: #6b011f;
  }

  .wrapper span {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
  }

  .wrapper span.num {
    font-size: 15px;
    border-right: solid 1px black;
    border-left: solid 1px black;
  }

  .collar-title {
    font-family: "Amatic SC", cursive;
  }

  .price-title {
    font-family: "Kosugi Maru", sans-serif;
  }

  .shipping-title {
    font-size: 15px;
  }

  .size-title {
    font-family: "Kosugi Maru", sans-serif;
  }

  .quantity-title {
    font-family: "Kosugi Maru", sans-serif;
  }

  .productDescriptionSection {
    background-color: #171717;
    color: wheat;
    width: 40%;
    display: flex;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 20px;
  }

  .productDescriptionSection-img {
    margin: auto auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .productDescriptionSection2 {
    background-color: #171717;
    color: wheat;
    text-align: center;
    padding: 30px 30px;
    width: 600px;
    height: 500px;
    display: flex;
    margin-left: 50%;
    margin-top: 30px;
    border-radius: 20px;
  }

  .subscription {
    width: 1000px;
    height: 500px;
    background-color: #171717;
    margin: 10% auto;
    display: flex;
    border-radius: 30px;
    box-shadow: -8px -10px 15px rgb(255, 255, 255, 0),
      15px 15px 15px rgb(0, 0, 0, 0.1),
      inset -1px -5px 5px rgb(255, 255, 255, 0.1),
      inset 5px 5px 5px rgb(0, 0, 0, 0.5);
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  }

  .product-background {
    background-color: #171717;
    /* min-height: 120vh; */
    background-image: url(https://www.transparenttextures.com/patterns/black-paper.png);
  }

  /*this is the class for the entire fotter background*/
  .footer {
    background-color: #6a0000;
    height: 250px;
    margin-top: 100px;
  }

  /* figure out how to move icons all the way to the right wihtout using margin left percentages */
  .social-media {
    display: inline-block;
    color: #171717;
    margin-left: 5%;
  }

  .footer-policies {
    margin-left: 5%;
    padding-top: 50px;
    color: #171717;
  }

  .footer-content {
    text-align: center;
    opacity: 0.7;
    font-weight: bolder;
    color: #171717;
  }
}
